/*General*/
html   {
    height:100%;
    padding:0;
    margin:0;
}
body {
    font-family:Verdana,Arial,sans-serif;
    padding:0 0 100px 0;
    margin:0;
    min-height :90%;
    background: #FFFFFF ;
    position:relative;

}
a {
    text-decoration: none;
    color:#DBDDDB;
}
a:visited {
    color:#DBDDDB;
    text-decoration:none;
}

/*footer*/
footer {
    margin-top:100px;
    height :100px;
    width:100%;
    position:absolute;
    bottom: 0px;
    background: #42444E;
    color: #DBDDDB;
    z-index:10;
}
#footer li {
    margin-top:30px;
    display:inline-block;
    text-align: center;
    width:24%;

}
/*Header*/
header {
    height:100px;
    background: #42444E;
    color : #DBDDDB;
    text-transform: uppercase;
    padding: 0px;
    margin:0px;
}
header > .inline {
    text-align: center;
    display:inline-block;
}

/*logo*/
header a.logo {
    width:24%;
    color:#DBDDDB;
    height:100%;
}
header h1.logo {

    width:300px;
    padding:0;
    margin:0;
    text-align: center;
}
.logo > span {
    display: inline-block;
    width:250px;
    border-bottom: 3px solid #DBDDDB;
}

/*menu*/
nav.inline {
    width:49%;
    height:100%;
    padding:0px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;

}

nav.inline  ul#menuAccueil {
    list-style: none;
    margin:30px 0px 0px 30px;
    padding:0px;
}

nav.inline ul li {
    padding:0px;
    margin:0px;
}
/*fleche menu*/
li.deroulant {
    position: relative;
}

#fleche{
    width:0;
    border:5px solid transparent;
    border-top:5px solid white;
    display:inline-block;
    position:absolute;
    top:42px;
    left:83px;
}
#fleche:hover {
    border-top: solid #3BB1DB 5px;
}


nav > ul li.nonderoulant a:hover, nav .deroulant li:hover{
    border-bottom: solid rgb(45, 179, 74) 1px;
    color:rgb(45, 179, 74);
    cursor:pointer;
}
nav .deroulant a:hover {
    color:rgb(45, 179, 74);
    border-bottom: solid rgb(45, 179, 74) 1px;
}



.inline ul li {
    display: inline-block;
    padding:0px;
    width:170px;
    line-height: 40px;
    height:40px;
    vertical-align: middle;
}
nav.inline li a {
    display: inline-block;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
}
/*#deroulant {
    position:relative;
    top:0;
    left:0;
}*/




/*cacher menu*/

ul.deroulant  {
    margin:0px;
    padding:0px;
    z-index: 3;
}

ul.deroulant li {
    display:none;
}

ul.deroulant li#menuLast {
    border-radius: 0px 0px 5px 5px;
}
ul.deroulant li#menuLast:hover {
    border-bottom: solid rgb(45, 179, 74) 2px;
}


li:hover > ul.deroulant li {
    background: #42444E;
    display: block;
    cursor:pointer;
    z-index:3;
}
li:hover > ul.deroulant li {
    opacity:0;
    animation-name:deroulant;
    animation-duration:400ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes deroulant {
    0% {opacity: 0;}
    100% {opacity:1;}
}

/* deconnexion */
header form.inline {
    position:relative;
    width:24%;
    height:100px;
    vertical-align: middle;
}

header form.inline input {
    position: absolute;
    top:40px;
    right:10px;
    

}
#deconnexion {
    color: rgb(214,214,214);
    padding-bottom: 10px;
    display: inline-block;
    width:24%;
}

/*accueil*/
section#accueil {
    display:block;
    color: #3F4E5F;
    min-height: 65vh;
    text-align: center;
    margin-top:50px;
}

.messageError {
    color: rgb(206,36,37);
    font-size:1.2em;
}
.messageSuccess {
    color: green;
    font-size:1.2em;
}

section#accueil > article {
    display: inline-block;
    width:90%;
    vertical-align: top;
    text-align: justify;

}

section#accueil p {
    padding:20px;
}

section#accueil #news {
    border-top: solid #62C0C3 3px;
    margin-right: 25px
}
section#accueil h1 {
    color: #3F4E5F;
}
section#accueil #apropos {
    border-top: solid #E53E1A 3px;
    margin-left:25px;
    padding:20px;
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 50px;
}
section#accueil h2 {
    padding:0px;
    height:30px;
    margin:0px;
}
section#accueil p {

    margin:0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    padding:0px;
}
section#accueil p.last {
}


section#accueil #apropos h1 {
    padding-top: 0px;
    margin-top: 0px;
    color: #32A84A;
    border-bottom:#32A84A solid 1px ;
    margin-bottom: 30px;
}

/*section*/
section {
    text-align: center;
    color: rgb(85,85,111);
}



/* config maMaison /*

 */
section#maMaison {
    color:rgb(63,78,95);  /*a changer*/
    margin:0px;
}

section#maMaison #nomMaison {
    color: #228B22;
}

section#maMaison .message {
    color: #CC3366;
    margin-top:30px;
    margin-bottom:0px;
    padding: 0px;
}
/*TODO mise en page de la consommation*/
/*section#maMaison > h1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 0;
}



section#maMaison > h1 img {
    position: absolute;
    left:120px;
}*/
#indexMaison {
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    height:65px;
    margin-bottom: 15px;  /* à virer */

}
#indexMaison > ul {
    padding:0;
    margin:0;
    height:65px;
}

#indexMaison li {
    display: inline-block;
    height:65px;
    line-height: 65px;
    vertical-align: middle;
}
#indexMaison li.index, #indexMaison li.indexCross {
    margin:0;
    padding:0;
}
#indexMaison li.index a{
    color: #3F4E5F;
    display: inline-block;
    width: 120px;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 1.2em;
    padding:0;
    margin:0;
}
#indexMaison li.index a:hover{
    border-bottom: solid #3F4E5F 3px;
}
#indexMaison li.indexCross a {
    display: inline-block;
    width: 50px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    padding:0;
    margin:0;
}

#indexMaison li.indexCross a:hover {
    border :solid #228B22 3px;
    border-radius: 50px;

}

li.indexCross {
    width:90px;
    margin-left: 20px;
}






div#contenuAllMaison {
    width:800px;
    margin : 0px auto 50px auto;
    border-radius :5px;
    /*box-shadow: 1px 1px 3px black;*/

}

#creationSalle {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 30px;
    padding-bottom:20px;
    text-align: left;
    border-radius :5px;
    position: relative;
    width: 800px;
    animation-name: slide;
    animation-duration: 1s;
}
@keyframes slide  {
    from {left:40px}
    to {left:0px}
}

#creationSalle form ul li {
    list-style: none;
    font-size: 1.2em;
}


#creationSalle select {
    width:150px;
}
#creationSalle span {
    display: inline-block;
    width:400px;
}

#creationSalle > h1 {
    text-align: center;
}
#creationSalle > a{
    color:rgb(63,78,95);
}

#creationSalle form div {
    text-align: center;
    margin-top: 30px;
}
#creationSalle form #creation {
    height:35px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid #3F4D5E 1px;
    background: rgb(234,237,244);
    cursor: pointer;
    width:400px;
}
#creationSalle form #creation:hover {
    color: black;
    background: ghostwhite;
}

div#contenuMaison .salle {
    border:solid transparent 1px;
    margin: 20px auto 20px auto;
    border-radius :5px;
    box-shadow: 1px 1px 4px black;
    text-align: left;
    position: relative;
}
div#contenuMaison .salle >h1 {
    text-align: center;
}

.salle ul {
    list-style: none;
}
.salle li {
    font-weight:normal;
}
.salle h2 {
    font-weight: normal;
    font-size:1.3em;
}
.salle h2 span {
    display: inline-block;
    width:200px;
}
.salle h2 span.data {
    color:rgb(34,139,34)
}
.salle .modeSalle {
    display:inline-block;
}
.salle select[name=getMode] {
    width:100px;
}

.salle .modeActif {
    display: inline-block;
    width:200px;
    font-size:1.3em;
}
.salle .red {
    color: #FF0000;
}
.salle .green {
    color:#228B22;
}


.flaticon-add-plus-button {
    color:forestgreen;
    font-size: 25px;
}

.flaticon-cancel-music {
    position: absolute;
    top:10px;
    left:10px;
    font-size:10px;
    cursor: pointer;
}
.flaticon-multiply:hover {
    cursor: pointer;
}


.flaticon-power {
    font-size:30px;
}
.flaticon-power:hover {
    cursor: pointer;
}
.salle h2.temp, .salle h2.hum  {
    position : relative;
}
h2.temp > label.switch, h2.hum > label.switch  {
    position : absolute;
    right: 40px;
}
.switch .flaticon-power {
    color: red;
}
.switch input {
    display: none;
}
input:checked + .flaticon-power {
    color: forestgreen;
}

#maMaison .messageError, #maMaison .messageSuccess{
    line-height: 50px;
}

/*page d'inscription*/

section#conteneur {
    height: 450px;
    color: #0F100F;
}

section#conteneur .submit {
    margin:30px auto 10px auto;
    width:200px;
    height:35px;
    line-height: 35px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    background: #FFFFFF;
    cursor: pointer;
}
section#conteneur .submit:hover {
    color: black;
    background: ghostwhite;
}
section#conteneur #redirectionCo {
    border:1px solid transparent;
    box-shadow: 1px 1px 3px #3F4D5E;
}

section#conteneur article#inscription {
    width: 500px;
    padding:20px 0px 40px 0px;
    border-radius:5px;
    color : rgb(63,78,95);
    border: solid transparent 1px;
    box-shadow: 1px 1px 10px #3F4D5E;
    vertical-align: center;
    margin : 70px auto 0px auto;
}

section#conteneur article#inscription #helpMdp {
    text-align: left;
}
section#conteneur article#inscription form {
    margin-left: 20px;
}


section#conteneur h1 {
    font-size:1.4em;

}
section#conteneur form  {

    display:inline-block;
    line-height: 35px;
}
section#conteneur form div label {
    display:inline-block;
    width:250px;
    text-align: left;
}
div#envoyer {
    display:block;
    text-align: left;
    vertical-align: middle;
    line-height: 30px;

}
div.leftInscription {
    text-align: left;
}


article#inscription a {
    display:block;
    width:80%;
    color:rgb(63,78,95);
    line-height: 35px;
    border:solid transparent 1px;
    background: #FFFFFF;
    border-radius:5px;
    margin : 15px auto 0px auto;
    /*margin-left:20px;*/
    text-align: center;
    box-shadow: 1px 1px 3px #3F4D5E;
}
article#inscription a:hover {
    color: black;
    background: ghostwhite;
}
section#conteneur .messageError {
    margin-top: 20px;
    color: #CC3366;
}
/*modifier mes donnees personnel*/

section#modifierDonnerPersonnel {
    margin-top: 0px;
}
#conteneurDonnerPerso .messageError, #conteneurDonnerPerso .messageSuccess {
    font-size: 1em;
}




section#modifierDonnerPersonnel div#conteneurDonnerPerso {
    width:90%;
    margin:20px auto 20px auto;
}
div#conteneurDonnerPerso div#monCompte {
    display: inline-block;
    width:45%;
}
div#conteneurDonnerPerso div#maFamille {
    display: inline-block;
    vertical-align: top;
    width:45%;
}

div#maFamille div#utilisateurs {
    border:solid transparent 1px;
    margin :auto;
    width: 500px;
    text-align: left;
    padding: 20px;
    line-height: 30px;
    box-shadow: 1px 1px 4px black;
    border-radius :5px;
}
div#utilisateurs ul {
    list-style: none;
}



section#modifierDonnerPersonnel >h1 {
    text-align: center;
    margin-bottom: 20px;
}
div#modifier {

    display: block;
    border: solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 4px black;
    min-height : 400px;
    width: 500px;
    text-align:left;
    margin:20px auto 20px auto;
    line-height: 30px;
    padding: 20px;
}


div#modifier .informations {
    display: inline-block;
    font-style: normal;
}
div#modifier em.informations {
    width : 200px;
}
div#modifier div.informations {
    margin-left : 20px;
}

section #modifier > form > div {
    display:block;
    margin-left:50px;
}
div#modifier input {
    display:inline-block;
}
div#modifier #modifierMail, div#modifier #modifierMdp, div#modifier #modifierAdresse, div#modifier #modifierNumero, div#modifier #modifierNom, div#modifier #verifMdp {
    margin-left: 20px;
    width:150px;
}
#profil ul {
    list-style: none;
}
div#modifier label {
    display:inline-block;
    width:200px;
}
section div#modifier input.envoyer {
    display:block;
    width :150px;
    vertical-align: middle;
    line-height: 30px;
    height:30px;
    margin:10px 10px 10px 50px;
}


section#modifierDonnerPersonnel div.message {
    color: #CC3366;
    padding-left: 30px;
}


section#modifierDonnerPersonnel div#modifier > div.link {
    margin-top: 10px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}
section#modifierDonnerPersonnel a {

    color : #3F4E5F;
}
section#modifierDonnerPersonnel div#modifier > div.link:hover {
    background: white;
}


div#maFamille .supprimerCompte {
    display:inline-block;
}
div#maFamille div.supprimerCompte {
    width:70%;
}



/*Mode*/
section#modes {
    margin-top:20px;
    margin-bottom :0px;
}

div#conteneurModes {
    margin-top:0px;
    height:530px;
}
div#conteneurModes h2 {
    text-align:left;
    padding-left:50px;
}

div#conteneurModes li {
    text-align: left;
    list-style: none;
}
#humidite {
    display : block;
}

#configMode .templateMode {
    display:inline-block;
}

#configMode .inputModeConf {
    width:50px;

}
#configMode .placementConf {
    margin-left:60px;
}



div#placementConfigMode {
    margin-top: 20px;
    vertical-align:top;
    display:inline-block;
    width:55%;
    min-height:600px;
}
div#placementChoixMode {
    margin-top: 20px;
    vertical-align:top;
    display:inline-block;
    width:40%;

    min-height:600px;
}

div#choixMode, div#creerMode  {
    border:solid transparent 1px;
    width:85%;
    margin:auto;
    box-shadow: 1px 1px 3px black;
    border-radius :5px;

}

div#choixMode {
    min-height:300px;
    line-height: 30px;

}
div#creerMode {
    min-height:400px;

}


#choixMode ul {
    padding:0;
}

#choixMode ul li.modeLeft {
    padding-left:40px;
    width:100%;
}
#choixMode ul li div.right {
    width:40%;
    display: inline-block;
    text-align: right;

}
#choixMode ul li.submit {
    text-align: center;
}
#choixMode ul li .modeRight {
    display: inline-block;
    text-align: right;
}
#choixMode .inputEdit, #choixMode .inputRemove {
    display: inline-block;
    height:30px;
}
#choixMode input.disabled {
    cursor: default;
}


input#submitCreerMode {
    display: inline-block;
    margin:50px auto 10px auto;
    height:35px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid #3F4D5E 1px;
    background: rgb(234,237,244);
    cursor: pointer;

}
input#submitCreerMode:hover {
    color: black;
    background: ghostwhite;
}




.disabledClass {
    pointer-events: none;
    opacity: 0.4;
}

li.template {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius : 5px;
    height: 130px;
    width: 90%;
    padding-left:20px;
}
ul#configMode li.first {
    margin-bottom: 20px;
}

#submitMode {
    margin:30px 70px 30px 50px;
    text-align: right;
}
#submitMode #inputNomMode {
    font-size : 1.2em;
    width:150px;
    padding-left:20px;
}
#submitMode #submitNomMode {
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    border: solid transparent 1px;
    background: #FFFFFF;
    height:30px;
    width:100px;
    vertical-align: top;
}

#submitMode #submitNomMode:hover {
    color: #DBDDDB;
    background: slategrey;
}

.listMode {
    display:inline-block;
    width:45%
}
.formInline {
    display:inline-block;
    width:45%;
    margin:0px;
}

section#modes .messageError {
    margin-top: 15px;
    color: #CC3366;
}
section#modes .messageSuccess {
    margin-top: 15px;
    color: green;
}





/*Page de contacts*/

section#contact {

    line-height: 40px;
}
section#contact .contact {
    width :500px;
    height: 250px;
    border : solid transparent 1px;
    border-radius : 5px;
    box-shadow: 1px 1px 3px black;
}
section#contact li {
    display:block;
    text-align: left;
}
section#contact div {
    display: inline-block;
    width:200px;
    padding-top: 20px;
    padding-left: 10px;
}
section#contact em {
    display:inline-block;
    width:200px;
}

.email {
    text-decoration: none;
    color: #3BB1DB;
}
.email:hover {
    color: cadetblue;
}

/* voir les capteurs */

section#index
{
    display: inline-block;
    font-size: large;
    text-align: left;
    width: 250px;
    vertical-align: top;
    margin-right: 25px;
    margin-left: 50px;
    padding: 15px;
    border:1px solid transparent;
    overflow :auto;
}

section#index h1
{
    text-align: center;
    font-weight: bold;
    color:red;

}

section#corps
{
    display : inline-block;
    text-align: justify;
    font-size: large;
    width: 550px;
    margin-left: 25px;
    vertical-align: top;
    border: 1px solid transparent;
    padding-left: 0px;
    margin-bottom: 60px;
}
section#corps ul {
    list-style: none;
}
section#corps h1
{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #FF0000;

}

section#index h2
{
    font-style: normal;
}
section#index a {
    text-decoration: none;
    color: black;
}
section#index a:visited {
    color :black;
}
.formu {
    display : inline-block;
}

div#creation {
    border: solid transparent 1px;
    width:70%;
    margin: 20px auto 20px auto;
}
div#creation #creation {
    margin-left:60px;
    margin-bottom: 20px;
    width:100px;
    height:30px;
}


/*button input */
/*TODO input button*/


input[type=submit] {
    cursor: pointer;
}

/*
input.inputRemove {
    display: inline-block;
    height: 20px;
    border-radius:5px;
}
input.inputEdit {
    display: inline-block;
    height: 20px;
    border-radius:5px;
}
*/

/*configMaison */


section#configMaison {

}
section#configMaison div#conteneur {
    margin-top: 35vh;
    transform: translateY(-50%);
    font-size: 1.2em;
    display: inline-block;
    width: 800px;
    height:300px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius: 5px;
    padding:20px;
    text-align: center;
}
section#configMaison div#conteneur p{
    margin-bottom: 50px;
}
section#configMaison div form {
    display: inline-block;
    width:70%;
    text-align: left;
}

section#configMaison .submitMaison {
    border: solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius: 5px;
    display: inline-block;
    width:40%;
    height:30px;
}
section#configMaison .submitMaison:hover {
    background: #FFFFFF;
}


section#configMaison div form div {
    display: inline-block;
    line-height: 30px;
    height:30px;
    margin:5px;
    padding: 0;
}
section#configMaison div form div.divSubmit {
    margin-top: 40px;
    width:80%;
    text-align: right;
}

section#configMaison div .labelMaison {
    display: inline-block;
    width:300px;
}
#configMaison span {
    color:green;
}

/*consommation*/
table#consommation
{
    border-collapse: collapse;
    background-color: blue; /* Les bordures du tableau seront collées (plus joli) */
}

table#consommation td,th
{
    border: 1px solid black;
}
