/*General*/
html   {
    height:100%;
    margin:0;
    padding:0;

}
body {
    font-family:Helvetica,Verdana,Arial,sans-serif;
    padding:0;
    margin:0;
    background: #FFFFFF ;
    height:100%;
}
div#page {
    display: table;
    height:100%;
    width:100%;
    padding:0;
    margin:0;


}
section, header, footer  {
    display: table-row;
}


a {
    text-decoration: none;
    color:#DBDDDB;
}
a:visited {
    color:#DBDDDB;
    text-decoration:none;
}



/*footer*/
footer {
    height :70px;
    width:100%;
    /*line-height: 50px;*/
    background: #42444E;
    color: #DBDDDB;
    vertical-align: middle;
}


ul#footer {
    line-height: 50px;
    height:70px;
    width:100%;
    vertical-align: middle;
    display: inline-block;
    padding:0;
    margin:0;
}

#footer > ul {
    height:50px;
    line-height:50px;
}


#footer li {
    display:inline-block;
    padding:0;
    margin:0;
    text-align: center;
    /*width: 24%;*/
    width:19%;
    line-height:70px;
    height:70px;
    vertical-align: middle;
}

#footer li img {
    width:200px;
    vertical-align: middle;
    height:50px;
}
#footer a#redirAdmin {
    display: inline-block;
    width: 200px;
    height: 50px;
}
#footer a {
    margin:0;
    padding:0;
    line-height:50px;
    height:50px;
 }
/*Header*/
header {
    height:100px;
    background: #42444E;
    color : #DBDDDB;
    text-transform: uppercase;
    padding: 0;
    margin:0;
}

header > .inline {
    text-align: center;
    display:inline-block;
}

/*logo*/
header a.logo {
    width:24%;
    color:#DBDDDB;
    line-height: 100px;
    height: 100px;
    vertical-align: middle;
    padding:0;
    margin:0;
    text-align: left;

    /*height:100px;
    line-height: 100px;*/
}

header a.logo img {
    height:100px;
    padding-left:50px;
}
header h1.logo {

    width:300px;
    padding:0;
    margin:0;
    text-align: center;
}
.logo span {
    display: inline-block;
    width:250px;
    line-height: 40px;
    margin:0;
    padding:0;
    border-bottom: 3px solid #DBDDDB;
}
header  ul#menuAccueil-BO {
    vertical-align: middle;
    height:100px;
    line-height:100px;
    padding:0;
    margin:0;
}
header ul#menuAccueil-BO li {
    display: inline-block;
    vertical-align: middle;
    height:100px;
    line-height:100px;

}

header nav ul#menuAccueil-BO li h1 {
    display: inline-block;
    font-size:1.3em;
    margin:0;
    padding:0;
    line-height:100px;
    height:100px;
    vertical-align: middle;
}



/*section*/
section {
    text-align: center;
    color: rgb(85,85,111);
}

/*menu*/
nav.inline {
    width:49%;
    height:100px;
    line-height:70px ;
    padding:0;
    margin: 0 0 0 0;


}

nav.inline  ul#menuAccueil {
    list-style: none;
    vertical-align: middle;
    height:100px;
    line-height: 100px;
    margin:0 auto 0 auto;
    padding:0;
}

nav.inline ul li {
    padding:0;
    margin:0;
}
/*fleche menu*/
li.deroulant {
    position: relative;
}

#fleche{
    width:0;
    border:5px solid transparent;
    border-top:5px solid white;
    display:inline-block;
    position:absolute;
    top:42px;
    left:83px;
}
#fleche:hover {
    border-top: solid #3BB1DB 5px;
}


nav > ul li.nonderoulant a:hover, nav .deroulant li:hover{
    border-bottom: solid rgb(45, 179, 74) 1px;
    color:rgb(45, 179, 74);
    cursor:pointer;
}
nav .deroulant a:hover {
    color:rgb(45, 179, 74);
    border-bottom: solid rgb(45, 179, 74) 1px;
}



.inline ul li {
    display: inline-block;
    padding:0px;
    width:170px;
    line-height: 40px;
    height:40px;
    vertical-align: middle;
}
nav.inline li a {
    display: inline-block;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}





/*cacher menu*/

ul.deroulant  {
    margin:0;
    padding:0;
}

ul.deroulant li {
    display:none;
}

ul.deroulant li#menuLast {
    border-radius: 0px 0px 5px 5px;
}
ul.deroulant li#menuLast:hover {
    border-bottom: solid rgb(45, 179, 74) 2px;
}


li:hover > ul.deroulant li {
    background: #42444E;
    display: block;
    cursor:pointer;
    z-index:3;
}
li:hover > ul.deroulant li {
    opacity:0;
    animation-name:deroulant;
    animation-duration:400ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes deroulant {
    0% {opacity: 0;}
    100% {opacity:1;}
}

/* deconnexion */
header form.inline {
    position:relative;
    width:24%;
    height:100px;
    vertical-align: middle;
}

header form.inline input {
    position: absolute;
    top:40px;
    right:10px;
    

}
#deconnexion {
    color: rgb(214,214,214);
    padding-bottom: 10px;
    display: inline-block;
    width:24%;
}

/*accueil*/
section#accueil {
    color: #3F4E5F;
    height:100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;



}

.messageError {
    color: rgb(206,36,37);
    font-size:1.2em;
}
.messageSuccess {
    color: green;
    font-size:1.2em;
}

section#accueil > article {
    display: inline-block;
    width:90%;
    text-align: justify;




}

section#accueil p {
    padding:20px;
}


section#accueil h1 {
    color: #3F4E5F;
}
section#accueil #apropos {
    padding:20px;
    :sborderolid transparent 1px;
    box-shadow: 1px 1px 3px black;
}
section#accueil h2 {
    padding:0;
    height:30px;
    margin:0;
}
section#accueil p {
    margin: 20px 0 20px 0;
    text-align: justify;
    padding:0;
}
section#accueil p.last {
}


section#accueil #apropos h1 {
    padding-top: 0px;
    margin-top: 0px;
    color: #32A84A;
    border-bottom:#32A84A solid 1px ;
    margin-bottom: 30px;
}





/* config maMaison /*

 */


section#maMaison {
    color:rgb(63,78,95);  /*a changer*/
    margin:0px;
}

section#maMaison #nomMaison {
    color: #228B22;
}

section#maMaison .message {
    color: #CC3366;
    margin-top:30px;
    margin-bottom:0px;
    padding: 0px;
}
/*TODO mise en page de la consommation*/
/*section#maMaison > h1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 0;
}



section#maMaison > h1 img {
    position: absolute;
    left:120px;
}*/
#indexMaison {
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    height:65px;
    margin-bottom: 15px;  /* à virer */


}
#indexMaison > ul {
    padding:0;
    margin:0;
    height:65px;
}

#indexMaison li {
    display: inline-block;
    height:65px;
    line-height: 65px;
    vertical-align: middle;
}
#indexMaison li.index, #indexMaison li.indexCross {
    margin:0;
    padding:0;
}
#indexMaison li.index a{
    color: #3F4E5F;
    display: inline-block;
    width: 120px;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 1.2em;
    padding:0;
    margin:0;
}

#indexMaison li.index a:hover{
    border-bottom: solid #3F4E5F 3px;
}
#indexMaison li.indexCross a {
    display: inline-block;
    width: 50px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    padding:0;
    margin:0;
}

#indexMaison li.index .ajax {
    color: #3F4E5F;
    display: inline-block;
    width: 120px;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 1.2em;
    padding:0;
    margin:0;
    cursor: pointer;
}
#indexMaison li.index .ajax:hover {
    border-bottom: solid #3F4E5F 3px;
}

#indexMaison li.indexCross a:hover {
    border :solid #228B22 3px;
    border-radius: 50px;

}

li.indexCross {
    width:90px;
    margin-left: 20px;
}






div#contenuAllMaison {
    width:800px;
    margin : 0px auto 50px auto;
    border-radius :5px;
    /*box-shadow: 1px 1px 3px black;*/

}

#creationSalle {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 30px;
    padding-bottom:20px;
    text-align: left;
    border-radius :5px;
    position: relative;
    width: 800px;
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide  {
    from {left:40px}
    to {left:0px}
}





div#listCapteur ul {
    list-style: none;
    text-align: left;
}
div#creationSalle div.chooseType {
    display: inline-block;
    width:200px;
    height:80px;
    line-height: 80px;
    border: solid transparent 1px;
    border-radius : 5px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
    cursor: pointer;
}

div#creationSalle #chooseCapteurType {
    padding-left: 40px;
}

div#creationSalle #chooseCapteurType  div.capteurNone {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    border-radius :5px;
    display: inline-block;
    padding:0 10px 0 10px;
    margin-top: 30px;
    height:30px;
    line-height: 30px;
    cursor: pointer;
}
div#creationSalle #chooseCapteurType  div.capteurNone a {
    color: #42444E;
    display: block;
    width: 100%;
    height:30px
}
div#creationSalle #chooseCapteurType  div.capteurNone a:hover {
    display: block;
    width: 100%;
    height:30px;
    color:white;
}

div#creationSalle #chooseCapteurType  div.capteurNone:hover {
    background: green;
    color: white;
}

div#creationSalle .logo-capteur {
    vertical-align: middle;
    width:60px;
    height:60px;
}
div#creationSalle ul#displayCapteur  {
    padding:0;

}
div#creationSalle ul#displayCapteur h3 {
    padding:0;
    margin:0;
}

div#creationSalle ul#displayCapteur li.capteur {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    border-radius :5px;
    display: inline-block;
    width:45%;
    margin:5px 5px 5px 5px;
    padding:10px;
    font-size: 0.8em;
    cursor: pointer;
}
div#creationSalle ul#displayCapteur li.capteur:hover {
    border:solid green 3px;
    box-shadow: none;
}
div#creationSalle ul#displayCapteur li.capteur span {
    display: inline-block;
    width:40%;
}


div#chooseCapteurType #inputSalleName {
    margin-top:30px;
}






#creationSalle form ul li {
    list-style: none;
    font-size: 1.2em;
}




#creationSalle > h1 {
    text-align: center;

}
#creationSalle > a{
    color:rgb(63,78,95);
}


#creationSalle form #creation {
    display: block;
    height:35px;
    margin:auto;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid #3F4D5E 1px;
    background: rgb(234,237,244);
    cursor: pointer;
    width:400px;
}
#creationSalle form #creation:hover {
    color: black;
    background: ghostwhite;
}

#creationSalle #nomSalle {
    margin:5px;
    height:20px;
    font-size: 1em;
    width:140px;
}

#creationSalle #selectType {
    margin:20px 0 20px 0;
}

#creationSalle ul#parentElement {
    padding:0;
}

#creationSalle ul#listCapteur li.list {
    display: inline-block;
    width: 120px;
    height:30px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    margin:0 10px 30px 10px;
    text-align: center;
}

div#creationSalle div#conteneurList {
    width:95%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    padding-bottom: 20px;
    margin-top: 30px;
}
div#creationSalle div#conteneurList h2{
    padding-left: 20px;
}
div#creationSalle div#conteneurList > div {
    display: inline-block;
    width: 90%;

}
div#creationSalle div#conteneurList h3 {
    display: inline-block;
}
div#conteneurList .titre{
    display: inline-block;

}

#creationSalle ul#allListCapteurTemp,#creationSalle ul#allListCapteurHum {
    display:block ;
    margin:auto;
    /*min-height: 40px;
    line-height: 40px;*/
    width:90%;
    /*border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;*/
    list-style: none;
    /*padding-bottom:20px;*/
}

#creationSalle ul#allListCapteurTemp li, #creationSalle ul#allListCapteurHum li {
    display: inline-block;
    min-width: 100px;
    height:30px;
    line-height: 30px;
    padding:5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    margin:5px 5px 5px 5px;
}


section#maMaison div#generalDiv > div#general {
    display: block;
    width:100%;
    margin: auto;


}




section#maMaison div#generalView  {
    display: block;
    margin:40px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    width: 900px;
    min-height: 300px;
    text-align: left;
    position: relative;
    animation-name: slide;
    animation-duration: 2s;


    /*position: relative;*/
}
@keyframes animation {
    from {
        border:green solid 5px;}
    to{
        border:solid transparent 1px;}
}





div#contenuMaison .salle {
    border:solid transparent 1px;
    margin: 20px auto 20px auto;
    border-radius :5px;
    box-shadow: 1px 1px 4px black;
    text-align: left;
    position: relative;

    /*position: relative;*/
}
div#contenuMaison div.rien {
    height: 40px;
}

.salle a.cancel {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.salle a.cancel .flaticon-cancel-music {
    display :inline-block;
    color: black;
    padding:0;
    margin:0;
    /*height:100%;
    width:100%;*/
}
.salle a.cancel .flaticon-cancel-music:hover {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}

.salle h2.titre-capteur {
    height:60px;
    line-height: 60px;
    padding-left:20px;

}

.salle h2.titre-capteur span {
    text-align: center;
    height:60px;
    line-height: 60px;
    vertical-align: middle;
}
.salle .logo-capteur {
    width:60px;
    height:60px;
}
img[alt=temperature] {
    padding-right: 15px;
}


div#contenuMaison .salle >h1,section#maMaison div#general > div#generalView h1,div#creationSalle h1 {
    text-align: center;
    margin-top: 0px;
}

.salle ul#salleList {
    list-style: none;
    margin:0;
    padding:0;
}
div#generalView ul#ulGeneral {
    list-style: none;
    display: block;
    margin:auto;
    width: 90%;
}

.salle li {
    font-weight:normal;
}
.salle li.configMode {
    margin-left:40px;
    vertical-align: middle;
}





.salle li.configMode select {
    height:20px;
    line-height: 20px;
    width: 150px;
    vertical-align: middle;
    font-size:1em;
    padding-left:10px;
}
.salle li.configMode input {
    height:30px;
    width: 150px;
    font-size: 1em;
    vertical-align: middle;
    margin:0;
    padding:0;
}
.salle li.configMode input:hover {
    background: #228B52;
    padding:0;
    margin:0;
    border-radius: 5px;
    border: 1px;
    color: white;
}

.salle hr.margin-info {
    margin-top:50px;
    width:90%;
}

.salle h2 {
    font-weight: normal;
    font-size:1.3em;


}
.salle h2 span {
    display: inline-block;
    width:200px;
}
.salle h2 span.data {
    color:rgb(34,139,34)
}
.salle .modeSalle {
    display:inline-block;
}

.salle .modeSalle.general {
    font-size: 1em;
}
.salle select[name=getMode] {
    width:100px;
}

.salle .modeActif {
    display: inline-block;
    width:200px;
    font-size:1.3em;
    padding-left:5px;
}
.salle .red {
    color: #FF0000;
}
.salle .green {
    color:#228B22;
}


.flaticon-add-plus-button {
    color:forestgreen;
    font-size: 25px;
}

div.salle .flaticon-cancel-music, div#creationSalle .flaticon-cancel-music ,div#generalView .flaticon-cancel-music {
    /*position: absolute;*/
    /*top:20px;
    left:20px;*/
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    /*margin:10px 0 0 15px;*/
    font-size:10px;
    cursor: pointer;
}
div.salle .flaticon-cancel-music:hover {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.flaticon-multiply:hover {
    cursor: pointer;
}


.flaticon-power {
    font-size:30px;
}
.flaticon-power:hover {
    cursor: pointer;
}
.salle h2.temp, .salle h2.hum  {
    position : relative;
}
h2.temp > label.switch, h2.hum > label.switch  {
    position : absolute;
    right: 40px;
}
.switch .flaticon-power {
    color: red;
}
.switch input {
    display: none;
}
input:checked + .flaticon-power {
    color: forestgreen;
}

#maMaison .messageError, #maMaison .messageSuccess{
    line-height: 50px;
}

/*page d'inscription*/


section#conteneur .submit {
    margin:5px auto 10px auto;
    width:200px;
    height:35px;
    line-height: 35px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid transparent 1px;
    background: #FFFFFF;
    cursor: pointer;
}
section#conteneur .submit:hover {
    color: black;
    background: ghostwhite;
}
section#conteneur #redirectionCo {
    border:1px solid transparent;
    box-shadow: 1px 1px 3px #3F4D5E;
}


section#conteneur:before {
    display: table;
    /*height:100%;*/
    /*width: 100%;*/
}
section#conteneur{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


section#conteneur article#inscription {
    width: 600px;
    padding:10px 0 40px 0;
    border-radius:5px;
    color : rgb(63,78,95);
    border: solid transparent 1px;
    box-shadow: 1px 1px 10px #3F4D5E;
    display: inline-block;
    font-size: 1em;
}
article#inscription input.input {
    display: inline-block;
    height: 30px;

    line-height: 20px;
    width: 40%;
    font-size: 1em;
}

section#conteneur article#inscription .helpMdp {
    text-align: left;
    /*padding-left:20px;*/
}
section#conteneur article#inscription form {
    margin-left: 20px;
    margin-top:20px;
}


section#conteneur h1 {
    font-size:1.4em;

}
section#conteneur form  {

    display:inline-block;
    line-height: 35px;

}

section#conteneur form div {

}
section#conteneur form div label {
    display:inline-block;
    width:59%;
    text-align: left;
}
/*partie BO*/
section#conteneur.BO form {
    width: 90%;
}
section#conteneur.BO form label {
    display: inline-block;
    width: 50%;
}
section#conteneur.BO form .input {
    height: 20px;
}
section#conteneur.BO #helpMdp {
    padding-left: 20px;
}


div#envoyer {
    display:block;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    padding-right:5px;

}
div.leftInscription {
    text-align: left;
}


article#inscription a {
    display:block;
    width:80%;
    color:rgb(63,78,95);
    line-height: 35px;
    border:solid transparent 1px;
    background: #FFFFFF;
    border-radius:5px;
    margin : 15px auto 0px auto;
    /*margin-left:20px;*/
    text-align: center;
    box-shadow: 1px 1px 3px #3F4D5E;
}
article#inscription a:hover {
    color: black;
    background: ghostwhite;
}
section#conteneur .messageError {
    margin-top: 20px;
    color: #CC3366;
}

section#conteneur form#connexion {
    display: block;
    width: 90%;
}

/*!*!*connexion */
section#conteneur article#connexion {
    width: 400px;
    padding:20px 0 40px 0;
    border-radius:5px;
    color : rgb(63,78,95);
    border: solid transparent 1px;
    box-shadow: 1px 1px 10px #3F4D5E;
    display: inline-block;
    font-size: 1em;
}
section#conteneur article#connexion form{
    width: 80% ;
    margin:40px auto 0 auto;
}

section#conteneur article#connexion div#connexion {
    width:95%;
    display: block;
    margin:10px auto 0 auto;
    text-align: center;

}
section#conteneur article#connexion div.messageError {
    text-align: center;

}
section#conteneur article#connexion div label {
    display:block ;
    width: 100%;
    text-align: left;
}

section#conteneur article#connexion .input,section#conteneur article#connexion label, article#connexion div.input {
    display: block;
}

article#connexion a {
    display:block;
    width:95%;
    color:rgb(63,78,95);
    line-height: 35px;
    border:solid transparent 1px;
    background: #FFFFFF;
    border-radius:5px;
    margin : 10px auto 20px auto;
    /*margin-left:20px;*/
    text-align: center;
    box-shadow: 1px 1px 3px #3F4D5E;
}
article#connexion a:hover {
    color: black;
    background: ghostwhite;
}
article#connexion input.input {
    display: inline-block;
    height: 20px;

    line-height: 20px;
    width: 45%;
    font-size: 1em;
}


article#connexion div#div-forget-mdp {
    text-align: right;
    display: block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 200px;
    margin-left: 55%;
}
div#div-forget-mdp #forget-mdp {
    border:none;
    display: block;
    text-align: center;
    color: dodgerblue;
    box-shadow: none;
    font-size:0.7em;
    margin-top: 5px;
    height:20px;
    line-height:20px;
    width: 100%;

}
div#div-forget-mdp #forget-mdp:hover {
    border:none;
    color: #42444E;
    box-shadow: none;
    background: none;

}




/*modifier mes donnees personnel*/

section#modifierDonnerPersonnel {
    margin-top: 0px;
}
#conteneurDonnerPerso .messageError, #conteneurDonnerPerso .messageSuccess {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}




section#modifierDonnerPersonnel div#conteneurDonnerPerso {
    width:90%;
    margin:20px auto 20px auto;
}
div#conteneurDonnerPerso div#monCompte {
    display: inline-block;
    width:45%;
}
div#conteneurDonnerPerso div#maFamille {
    display: inline-block;
    vertical-align: top;
    width:45%;
}

div#maFamille div#utilisateurs {
    border:solid transparent 1px;
    margin :auto;
    width: 80%;
    text-align: left;
    padding: 20px;
    line-height: 30px;
    box-shadow: 1px 1px 4px black;
    border-radius :5px;
}
div#utilisateurs ul {
    list-style: none;
}



section#modifierDonnerPersonnel >h1 {
    text-align: center;
    margin-bottom: 20px;
}
div#modifier {

    display: block;
    border: solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 4px black;
    min-height : 400px;
    width: 80%;
    text-align:left;
    margin:20px auto 20px auto;
    line-height: 30px;
    padding: 20px;
}


div#modifier .informations {
    display: inline-block;
    font-style: normal;
}
div#modifier em.informations {
    width : 50%;
}
div#modifier div.informations {
    margin-left : 20px;
}

section #modifier > form > div {
    display:block;
    margin-left:50px;
    height:35px;
    line-height: 35px;
}
div#modifier input {
    display:inline-block;
}
div#modifier #modifierMail, div#modifier #modifierMdp, div#modifier #modifierAdresse, div#modifier #modifierNumero, div#modifier #modifierNom, div#modifier #verifMdp, div#modifier #ancienMdp {
    margin-left: 20px;
    width:40%;
    height: 20px;
    line-height: 20px;
    font-size: 1em;
}

div#modifier #verifMdp {
    vertical-align: top;
    margin-top : 5px;
}

div#monCompte .separator {
    margin: 20px;
}
#profil ul {
    list-style: none;
}

div#modifier label {
    display:inline-block;
    width:50%;
}

div#modifier div#envoyer-modifier {
    display: block;
    width:90%;
    height:30px;
    padding:0;
    line-height:30px;

    margin:40px auto 25px auto;

}
section div#modifier input.envoyer {
    display:block;
    width :150px;
    line-height:25px;
    margin:auto;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;

    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
}
section div#modifier input.envoyer:hover {
    display:block;
    /*width :150px;*/
    line-height:25px;
    margin:auto;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;

    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
    background:cornflowerblue ;
    color: white;
}


section#modifierDonnerPersonnel div.message {
    color: #CC3366;
    padding-left: 30px;
}


section#modifierDonnerPersonnel div#modifier > div.link {
    margin:auto;
    display: block;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}
section#modifierDonnerPersonnel a {

    color : #3F4E5F;
}
section#modifierDonnerPersonnel div#modifier > div.link:hover {
    background: white;
}

div#maFamille li {
    display: inline-block;
    width:100%;
}
div#maFamille .inputRemove {
    display:inline-block;
    width:80px;
    height:30px;


}
div#maFamille .inputRemove:hover {
    background: red;
    display: inline-block;
    width:80px;
    color: white;
    border-radius: 5px;
    border:1px;
}



div#maFamille div.supprimerCompte {
    display: inline-block;
    width:70%;
}




/*Mode*/
section#modes {
    margin-top:20px;
    margin-bottom :0;

}

div#conteneurModes {
    margin-top:0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


div#conteneurModes li {
    text-align: left;
    list-style: none;
}
#humidite {
    display : block;
}

#configMode .templateMode {
    display:inline-block;
}

#configMode .inputModeConf {
    width:50px;
}

div#placementConfigMode {
    margin-top: 20px;
    vertical-align:middle;
    display:inline-block;
    width:55%;
    min-height:300px;


}
div#placementChoixMode {
    margin-top: 20px;
    vertical-align:middle;
    display:inline-block;
    width:40%;
    min-height:300px;
}

div#choixMode, div#creerMode  {
    border:solid transparent 1px;
    width:85%;
    margin:auto;
    box-shadow: 1px 1px 3px black;
    border-radius :5px;

}

div#choixMode {
    min-height:250px;
    line-height: 30px;

}
div#creerMode {
    min-height:400px;
}


#configMode h2 {
    display: inline-block;
    padding:0;
    margin:0;
    height: 130px;;
    line-height:130px ;
    width:80px;

}
#configMode .logo-capteur {
    width:60px;
    height:60px;
    vertical-align: middle;
}

#configMode img[alt=temperature] {
    padding-right: 15px;
}
div.placementConf {
    text-align: left;
    padding-left:50px;
}

div.placementConf > input[type=number] {
    height: 20px;
    line-height: 20px;
    font-size: 1.2em;

}


#choixMode ul {
    padding:0;
}

#choixMode ul li.modeLeft {
    padding-left:40px;
    width:100%;
}
#choixMode ul li div.right {
    width:45%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;

}
#choixMode ul li.submit {
    text-align: center;
}
#choixMode ul li .modeRight {
    display: inline-block;
    text-align: right;
}
#choixMode .inputEdit, #choixMode .inputRemove {
    display: inline-block;
    height:30px;
    width:80px;
}
#choixMode input.disabled {
    cursor: default;
}
#choixMode .inputEdit:hover {
    background: cornflowerblue;
    display: inline-block;
    width:80px;
    color: white;
    border-radius: 5px;
    border:1px;
}
#choixMode .not-disabled:hover {
    background: red;
    display: inline-block;
    width:80px;
    color: white;
    border-radius: 5px;
    border:1px;
}




input#submitCreerMode {
    display: inline-block;
    margin:50px auto 10px auto;
    height:35px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border: solid #3F4D5E 1px;
    background: rgb(234,237,244);
    cursor: pointer;

}
input#submitCreerMode:hover {
    color: black;
    background: ghostwhite;
}




.disabledClass {
    pointer-events: none;
    opacity: 0.4;
}

li.template {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius : 5px;
    height: 130px;
    width: 90%;

}
ul#configMode li.first {
    margin-bottom: 20px;
}

#submitMode {
    margin:30px 70px 30px 50px;
    text-align: right;
    padding:0;
}

#submitMode #inputNomMode {
    font-size : 1.2em;
    width:150px;
    padding-left:20px;
}
#submitMode #submitNomMode {
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    border: solid transparent 1px;
    background: #FFFFFF;
    height:30px;
    width:100px;
    vertical-align: top;
}

#submitMode #submitNomMode:hover {
    color: #DBDDDB;
    background: slategrey;
}

.listMode {
    display:inline-block;
    width:45%
}
.formInline {
    display:inline-block;
    width:45%;
    margin:0px;
}

section#modes .messageError {
    margin-top: 15px;
    color: #CC3366;
    text-align: center;
}
section#modes .messageSuccess {
    margin-top: 15px;
    color: green;
    text-align: center;

}





/*Page de contacts*/
section#contact:before {
    display: table;
}


section#contact {
    display: table-cell;
    vertical-align: middle;
}
section#contact .contact {
    width :500px;
    height: 250px;
    border : solid transparent 1px;
    border-radius : 5px;
    box-shadow: 1px 1px 3px black;
    padding:0;
    margin:0;
}
section#contact li {
    display:block;
    text-align: left;
}
section#contact div {
    display: inline-block;
    width:200px;
    padding-top: 20px;
    padding-left: 10px;
}
section#contact em {
    display:inline-block;
    width:200px;
}

.email {
    text-decoration: none;
    color: #3BB1DB;
}
.email:hover {
    color: cadetblue;
}

/* voir les capteurs */

section#index
{
    display: inline-block;
    font-size: large;
    text-align: left;
    width: 250px;
    vertical-align: top;
    margin-right: 25px;
    margin-left: 50px;
    padding: 15px;
    border:1px solid transparent;
    overflow :auto;
}

section#index h1
{
    text-align: center;
    font-weight: bold;
    color:red;

}

section#corps
{
    display : inline-block;
    text-align: justify;
    font-size: large;
    width: 550px;
    margin-left: 25px;
    vertical-align: top;
    border: 1px solid transparent;
    padding-left: 0px;
    margin-bottom: 60px;
}
section#corps ul {
    list-style: none;
}
section#corps h1
{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #FF0000;

}

section#index h2
{
    font-style: normal;
}
section#index a {
    text-decoration: none;
    color: black;
}
section#index a:visited {
    color :black;
}
.formu {
    display : inline-block;
}

div#creation {
    border: solid transparent 1px;
    width:70%;
    margin: 20px auto 20px auto;
}
div#creation #creation {
    margin-left:60px;
    margin-bottom: 20px;
    width:100px;
    height:30px;
}


/*button input */
/*TODO input button*/


input[type=submit] {
    cursor: pointer;
}

/*
input.inputRemove {
    display: inline-block;
    height: 20px;
    border-radius:5px;
}
input.inputEdit {
    display: inline-block;
    height: 20px;
    border-radius:5px;
}
*/

/*configMaison */


section#configMaison {

}
section#configMaison div#conteneur {
    margin-top: 35vh;
    transform: translateY(-50%);
    font-size: 1.2em;
    display: inline-block;
    width: 900px;
    height:300px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius: 5px;
    padding:20px;
    text-align: center;
}
section#configMaison div#conteneur p{
    margin-bottom: 50px;
}
section#configMaison div form {
    display: inline-block;
    width:70%;
    text-align: left;
}

section#configMaison .submitMaison {
    border: solid transparent 1px;
    box-shadow: 1px 1px 3px #3F4D5E;
    border-radius: 5px;
    display: inline-block;
    width:40%;
    height:30px;
}
section#configMaison .submitMaison:hover {
    background: #FFFFFF;
}


section#configMaison div form div {
    display: inline-block;
    line-height: 30px;
    height:30px;
    margin:5px;
    padding: 0;
}
section#configMaison div form div.divSubmit {
    margin-top: 40px;
    width:80%;
    text-align: right;
}

section#configMaison div .labelMaison {
    display: inline-block;
    width:300px;
}
#configMaison span {
    color:green;
}

section#configMaison input[type=text] {
    line-height:20px;
    height:20px;
    font-size: 1em;
}

/*consommation*/
table#consommation
{
    border-collapse: collapse;
    background-color: blue; /* Les bordures du tableau seront collées (plus joli) */
}

table#consommation td,th
{
    border: 1px solid black;
}


/*mention légale*/

section#mention-legale {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

section#mention-legale > div {
    display: inline-block;
    padding:20px;
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    text-align: left;
    width:600px;
}
section#mention-legale > div h2 {
    font-size:1.2em;
}




/*capteurs*/

div#listCapteurs {

    display: block;
    width:750px;
    margin:70px auto 0 auto;
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    text-align: center;
    padding: 20px;
}
div#listCapteurs div#placement {
    display: inline-block;
    margin:auto;
}

div#listCapteurs ul  {
    list-style: none;
    text-align: left;
    padding:0;
}



div#listCapteurs ul > li.capteur {
    display: inline-block;
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    text-align: left;
    width: 150px;
    padding:10px;


}

div#listCapteurs ul > li.capteur img {
    display: block;
    margin:0 auto 10px auto;
    width:80px;

}


section#capteur div#addCapteur, section#capteur div#listCapteur {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

section#capteur div#addCapteur .messageError,section#capteur div#addCapteur .messageSuccess {
    margin-top: 20px;
}

div#addCapteur > div,div#listCapteur > div {
    display: block;
    border:solid transparent 1px;
    border-radius :5px;
    box-shadow: 1px 1px 3px black;
    width:90%;
    margin:auto;
    min-height: 300px;

}


section#capteur  h2 {
    margin-bottom: 50px;
}

div#addCapteur div.divAddCapt {
    display: block;
    width: 80%;
    margin:2px auto;
    /*border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;*/
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;

}

div#addCapteur label {
    display: inline-block;
    width: 50%;
    text-align: left;
}

div#addCapteur input[type=input],div#addCapteur input[type=number]  {
    margin:0;
    padding:0;
    width: 150px;
    height:20px;
    line-height: 20px;
    font-size: 1.2em;
}

div#addCapteur .submit {
    display: block;
    width :150px;
    line-height:25px;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    margin:50px auto 0 auto;
    height:30px;
    /*vertical-align: middle;*/
    padding:0;
}
div#addCapteur .submit:hover {
    display: block;
    width :150px;
    line-height:25px;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    height:30px;
    /*vertical-align: middle;*/
    background:cornflowerblue ;
    color: white;
}
div#addCapteur div.messageSuccess, div#addCapteur div.messageError {
    margin-bottom:20px;
}

div#listCapteur ul {
    list-style: none;
    text-align: left;
}

div#listCapteur > div  {
    margin-bottom: 50px;
}

div#listCapteur ul#displayCapteur  {
    padding:0;
    margin-bottom: 20px;

}



div#listCapteur ul#displayCapteur .setSalle {
    color: green;
    font-weight:bold;
}
div#listCapteur ul#displayCapteur .isSet {
    color: red;
}



div#listCapteur ul#displayCapteur h3 {
    padding:0;
    margin:0;
    display: inline-block;
    width:90%;
    height:30px;
}



div#listCapteur ul#displayCapteur li.capteur {
    border:solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    border-radius :5px;
    display: block;
    width:94%;
    margin:5px auto 5px auto;
    padding:10px;
}
div#listCapteur ul#displayCapteur li.capteur:hover {
    border:3px solid green;
    cursor: pointer;
}
div#listCapteur ul#displayCapteur li.capteur span {
    display: inline-block;
    width:40%;
}
div#listCapteur ul#displayCapteur li.capteur span.crossCapteur {
    display: inline-block;
    width:9%;
    height:20px;

    text-align: center;
    position: relative;
}
div#listCapteur .capteur .flaticon-cancel-music {
    display :inline-block;
    color: black;
    height:100%;
    width:100%;

}

/*error*/

section#section-error {
    display: table-cell;
    vertical-align: middle;
}
section#section-error div#error {
    display: block;
    margin:auto;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    width:1000px;
    height: 40px;
    line-height:40px;
    text-align: center;
}
section#section-error div#error p {
    line-height: 40px;
    font-size: 1.3em;
    margin:0;
    padding:0 10px;
    color: green;
}


/*forget de mot de passe*/
div#forget-mdp {
    display: block;
    margin:auto;
    width:650px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    font-size: 1.1em;
}

div#forget-mdp input[type=submit] {
    display:block;
    width :200px;
    line-height:25px;
    margin:20px auto;

    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;

    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
}
div#forget-mdp input[type=submit]:hover {
    display:block;
    width :200px;
    line-height:25px;
    margin:20px auto;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;

    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
    background:cornflowerblue ;
    color: white;
}
div#forget-mdp input[type=text], div#forget-mdp input[type=password]{
    height:20px;
    font-size: 1em;
    width: 400px;

    vertical-align: middle;
    line-height: 20px;
}
div#forget-mdp .messageError, div#forget-mdp .messageSuccess {
    margin: 0 auto 10px auto;
}




/*===============================================================================================================*/
/*===================================================ADMIN=======================================================*/


/*création CGU*/
section#cgu-BO {
    display: table-cell;
    vertical-align: middle;

}
div#cgu h1 {
    margin-top:0;
}

div#cgu form,div#cgu input {
    display: block;
}

div#cgu form textarea {
    text-align: left;

    font-size: 1.2em;
    font-family:Verdana,Arial,sans-serif;
    line-height:105%;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    padding: 10px;
    border-radius: 5px;

}


div#cgu input {
    margin:auto;
}
div#cgu input {
    display: block;
    width :150px;
    line-height:25px;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    margin:50px auto 0 auto;
    height:30px;
    /*vertical-align: middle;*/
    padding:0;
}
div#cgu input:hover {
    display: block;
    width :150px;
    line-height:25px;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    height:30px;
    /*vertical-align: middle;*/
    background:cornflowerblue ;
    color: white;
}

div#cgu .messageSuccess {
    margin-top:20px;
}


/*display CGU*/

section#cgu-foot-section {
    display: table-cell;
    vertical-align: middle;

}
section#cgu-foot-section div#cgu-foot {
    width: 50%;
    min-height:500px;
    display: block;
    margin:0 auto 20px auto;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    text-align: left;
    padding:30px;
    font-size: 1.1em;

}


/*users*/

section#user-BO {
    display: table-cell;
    vertical-align: middle;
    height:100%;
}

section#user-BO div#posChooseUser  {
    display: inline-block;
    vertical-align: top;
    margin:auto;
    width: 25%;
    min-height: 90%;
}
section#user-BO div#posMaison-BO {
    display: inline-block;
    margin:auto;
    width: 74%;
    min-height: 90%;
}
div#posEdit-BO {
    display: none;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    width: 500px;
    min-height:350px;
    margin:auto;
}
div#posEdit-BO form {
    display: block;
    margin:auto;
    width: 500px;
    padding-top: 20px;
    text-align: left;
    vertical-align: middle;
}
div#posEdit-BO form div.block {
    display: block;
    margin:auto;
    width: 400px;
    height:35px;
    line-height: 25px;
    font-size: 1.1em;
}
div#posEdit-BO form div.block input[class=line]{
    height:25px;
    line-height: 25px;
    font-size: 1.0em;
}

div#posEdit-BO form div.block input[class=envoyer] {
    display:block;
    width :250px;
    line-height:25px;
    margin:30px auto;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
}
div#posEdit-BO form div.block input[class=envoyer]:hover {
    display:block;
    width :150px;
    line-height:25px;
    margin:30px auto;
    font-size: 1em;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    height:30px;
    vertical-align: middle;
    padding:0;
    right:80px;
    background:cornflowerblue ;
    color: white;
}



div#posEdit-BO form label, div#posEdit-BO form .label {
    width: 150px;
}

div#posEdit-BO form .line {
    display: inline-block;
}

div#posChooseUser #chooseUser {
    display: block;
    margin: auto;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    width: 95%;
    min-height: 500px;
}

div#posMaison-BO .messageSuccess.BO {
    display: block;
    line-height: 40px;
    font-size: 1.3em;
    margin:0 auto 30px auto;
    width: 500px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    color: green;
}
div#posMaison-BO .messageError.BO {
    display: block;
    line-height: 40px;
    font-size: 1.3em;
    margin:0 auto 30px auto;
    width: 500px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    color: darkred;
}

div#posMaison-BO #maison-BO {
    display: block;
    margin: auto;
    /*border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;*/
    width: 90%;
    min-height: 320px;
}



div#posChooseUser div#chooseUser label {
    display: inline-block;
    width:30%;
    text-align: center;
    margin-top:20px;
    font-size: 1.2em;
}
div#posChooseUser div#chooseUser input {
    display: inline-block;
    width: 50%;
    margin-top:20px;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
}
div#posChooseUser div#chooseUser input[name=pseudo] {
    display: inline-block;
    width: 50%;
    margin-top:20px;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
}

div#posChooseUser div#chooseUser hr {
    margin-top:20px;
    width:90%;
}
div#posChooseUser div#chooseUser ul#listUsers {
    list-style: none;
    padding:0;
    text-align: left;
}
div#posChooseUser div#chooseUser ul#listUsers> li {
    height:30px;
    line-height: 30px;
    font-size: 1.2em;
    width: 80%;
    border: solid transparent 1px;
    box-shadow: 1px 1px 3px black;
    border-radius: 2px;
    margin: 5px auto ;
    padding-left:20px;
    display: block;
    cursor: pointer;
}

div#posChooseUser div#chooseUser ul#listUsers> li:hover {
    background: green;
    color: white;
}







#maison-BO div.info-BO {
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    display: inline-block;
    width:30%;
    min-height: 300px;
    vertical-align: top;
    /*margin-top: 20px;*/
}


#maison-BO div.admin {
    display: block;
    margin:auto;
    height:30px;
    line-height: 30px;
    border: solid transparent 1px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    vertical-align: middle;
    width: 300px;
    font-size: 1.2em;
    color: green;
}

#maison-BO div.info-BO ul {
    text-align: left;
    list-style: none;
    padding:0;


}
#maison-BO div.info-BO ul> li.users {
    height: 35px;
    line-height: 35px;
    width: 80%;
    border: solid transparent 1px;
    box-shadow: 1px 1px 2px black;
    border-radius: 2px;
    margin: 5px auto ;
    padding-left:20px;
    display: block;
    cursor: pointer;
}
#maison-BO div.info-BO ul> li.autres {
    height: 35px;
    line-height: 35px;
    width: 80%;
    border: solid transparent 1px;
    box-shadow: 1px 1px 2px black;
    border-radius: 2px;
    margin: 5px auto ;
    padding-left:20px;
    display: block;
}


#maison-BO div.info-BO ul> li.users:hover {
    background: green;
    color: white;
}




/*image*/
/*html {
    margin:0;
    padding:0;
    background: url(/ressources/images/buildings.png) no-repeat center center fixed;
    background-size: cover;
}*/

.theme {
    background :#fafbfc;
}


/*new style*/








