header {
    height:100px;
    background: #42444E;
    color : #DBDDDB;
    text-transform: uppercase;
    padding: 0px;
    margin:0px;
}
header > .inline {
    text-align: center;
    display:inline-block;
    margin-left: 40px;
}
/*logo*/
header img.logo {
    width: 85%;

}
/*menu*/
nav.inline {
    width:72%;
    height:100%;
    padding:0px;
    margin: 0px 0px 50px 0px;
    vertical-align: middle;

}

nav.inline  ul#menuAccueil {
    list-style: none;
    margin: 30px 50px 0px 30px;
    padding:0px;
}

/*footer*/
footer {
    margin-top:100px;
    height :100px;
    width:100%;
    position:absolute;
    bottom: 0px;
    background: #42444E;
    color: #DBDDDB;
    z-index:10;
}
#footer li {
    display:inline-block;
    text-align: center;
    width:17%;

}

ul#footer {
    width : 93%;
    text-align: center;
    display : inline-block;
    margin-top: 40px;
}

img.logoExperom {
    position : absolute;
    width : 16%;
    margin-left : 30px;
    margin-top: 25px;
}

